body {
    background-color: #008080;
    background-image: url('cupcake-bg.jpg');
    background-size: cover;
    font-family: 'Raleway', sans-serif;
    color: black;
    text-align: center;
    line-height: 1.7;
}

h1 {
    padding-top: 30px;
    font-size: 40px;
    color: #b05c6b;
    font-weight: 400;
}

p {
    font-family: 'Merienda', cursive;
    font-size: 1.5em;
    word-wrap: break-word;
    font-weight: 700;
}

.container {
    max-width: 650px;
    background-color: #ffcad4;
    margin: auto;
    margin-top: 50px;
    padding: 50px;
    text-align: left;
    box-shadow: 0 0 15px #b05c6b;
    color: #314f53;
}

#invitation-card {
    display: none;
}

/*======= Exercise 2 student code below ==========*/

label, input {
    width: 500px;
    margin: 0 auto;
    display: block;
    box-sizing: border-box;
}

input {
    margin-bottom: 20px;
    padding: 10px;

}

label {
    font-size: 1.2em;
    font-weight: 700;
}

.button {
    color: white;
    background-color: #B05D6B;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    border: 0;
}

.button:hover {
    background-color: #008080;
    cursor: pointer;
}